* {
  padding: 0;
  margin: 0;
}
.heder {
  width: 100%;
  height: 300px;
  background-image: url(./img/Loop\ Star\ GIF.gif);
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
.hed {
  width: 100%;
  height: 182px;
  padding-top: 10px;
  background-image: url(./img/hed.gif);
  background-size: contain;
  border-radius: 100px;
  border: black solid;
}

/*-------------------------------------------------------------------------------------*/
/* کد های پایین برای سرج سایت هست */
.search-bar-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 5px;
  width: 50px;          /* پیشفرض بسته */
  height: 50px;
  border-radius: 50px;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.55);
  margin-bottom: 10px;
  position: absolute;
  top: 220px;
  left: 220px;
  transition: width 0.6s;
  overflow: hidden;     /* تا اجزا بیرون نزنه */
  z-index: 1000;
}

.search-bar-container.active {
  width: 300px;         /* وقتی باز شد */
}

.magnifier {
  width: 25px;
  cursor: pointer;
  position: absolute;
  left: 20px;
}

.mic-icon {
  width: 0;             /* پیشفرض مخفی */
  position: absolute;
  right: 10px;
  transition: width 0.3s;
  transition-delay: 0.3s;
}

.search-bar-container.active .mic-icon {
  width: 30px;          /* وقتی باز شد */
}

.input {
  background-color: transparent;
  border: none;
  margin: 10px 50px;
  width: 0;             /* پیشفرض بسته */
  outline: none;
  color: rgb(100, 100, 100);
  transition: width 0.3s;
  transition-delay: 0.3s;
}

.search-bar-container.active .input {
  width: 100%;          /* وقتی باز شد */
}


/*-------------------------------------------------------------------------------------*/
/*کد پایین برای لوگوی ابی hello هست */

.content{
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: 20rem;

}

.content h2{
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 25em;
}
.content h2:nth-child(1){
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2){
  color: #03a9f4;
  animation: wave 4s ease-in-out infinite;
}
@keyframes wave{
  0%, 100%{
    clip-path: polygon(0% 49%, 13% 58%, 25% 63%, 40% 63%, 56% 58%, 64% 51%, 80% 46%, 92% 44%, 99% 45%, 99% 100%, 0% 100%);
  }
  50%{
    clip-path: polygon(0 45%, 13% 42%, 23% 40%, 38% 39%, 49% 41%, 60% 45%, 75% 50%, 89% 52%, 100% 46%, 100% 100%, 0% 100%);
  }
}

/*-------------------------------------------------------------------------------------*/
/* کد پایین برای ایکون ادمک هست */

.icon_sign_in_out{
  background-color: azure;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  right: 140px;
  top: 220px;

}
.icon_sign_in_out img {
  width: 40px;
  height: 40px;
}


/*-------------------------------------------------------------------------------------*/
