body {
    font-family: Vazirmatn, sans-serif;
}


/*-------------------------------------------------------------------------------------------------*/
/* font for site */

@font-face {
    font-family: Vazirmatn;
    src: url('font/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('font/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('font/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('font/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('font/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('font/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('font/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('font/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Vazirmatn;
    src: url('font/Vazirmatn-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


/*-------------------------------------------------------------------------------------------------*/

.header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    margin-bottom: 10rem;
    background-color: red;
    height: 15rem;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.header h1 {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: red;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.footer h1 {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
